<!DOCTYPE html>
<html ng-app="carsales">
<head>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-ui-router.js"></script>
    <script data-require="angular-filter@0.5.7" data-semver="0.5.7" src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.7/angular-filter.js"></script>
    <script src="../appModule.js"></script>
    <script src="../controller/carListController.js"></script>
    <script src="../controller/carDetailController.js"></script>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div ui-view=""></div>
</body>

</html>
